

.profileNav{
    /*border: 2px solid #162b2b;*/
    width: 15%;
    height: 100%;
}

.profileNav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.profileNav li{
    margin: 1.0rem;
    font-size: 1.25rem;
}

.profileNav a{
    text-decoration: none;
    color: #38015c;
}

.profileNav a:hover,
.profileNav a:active,
.profileNav a.active{
    color: blueviolet;
    font-size: 1.50rem;
}
/*.profileNav a:hover,*/
